@model List<DocStorage.Models.DocDto>

@{
    ViewBag.Title = "Список документов";
}

@Html.Partial("Menu")

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

<h2>Список документов</h2>
<button class="btn btn-light">@Html.ActionLink("Новый документ", "NewDoc", "Doc")</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Название
            </th>
            <th scope="col">
                Дата
            </th>
            <th scope="col">
                Автор
            </th>
            <th scope="col">
                Тип документа
            </th>
            <th scope="col">
                Файл
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Truncate(item.Title, 30)
            </td>
            <td>
                @Html.DisplayFor(model => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(model => item.Author)
            </td>
            <td>
                @Html.DisplayFor(model => item.DocType)
            </td>
            <td>
                <a href="@item.RefFile" download>Ссылка</a>
            </td>
        </tr>
    }
</table>
