@model List<DocStorage.Models.DocDto>

@{
    ViewBag.Title = "Список документов";
}

<h2>Список документов</h2>
@Html.ActionLink("Новый документ", "NewDoc", "Doc");

<table>
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Дата
            </th>
            <th>
                Автор
            </th>
            <th>
                Тип документа
            </th>
            <th>
                Файл
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model=>item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(model => item.Author)
            </td>
            <td>
                @Html.DisplayFor(model => item.DocType)
            </td>
            <td>
                <a href="@item.RefFile" download>Ссылка</a>
            </td>
        </tr>
    }
