@model DocStorage.Models.DocDto

@Html.Partial("Menu")

<h2>Новый документ</h2>

@using (@Html.BeginForm("NewDoc", "Doc", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Наименование</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x=>x.Title)
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Тип документа</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    @Html.RadioButtonFor(x => x.DocType, "Внутренний", new { @class = "form-check-input", @name = "gridRadios1" })
                    <label class="form-check-label" for="gridRadios1">Внутренний</label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(x => x.DocType, "Внешний", new { @class = "form-check-input", @name = "gridRadios2" })
                    <label class="form-check-label" for="gridRadios1">Внешний</label>
                </div>
            </div>
        </div>
    </fieldset>
   
    <div class="form-group">
        <input type="file" name="upload" />
        @Html.ValidationMessageFor(x=>x.RefFile)
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
}